.tile {
    height: 25px;
    width: 25px;
    border: 1px solid #4477FF;
}

.board {
    display: grid;
    width: 260px;
    grid: repeat(10, 1fr) / repeat(10, 1fr)
    /* grid: repeat(3, 1fr) / repeat(3, 1fr) */
}